.card {
  display: flex;
  align-items: center;
  flex-direction: column;
}
.card__container {
  display: flex;
  flex-grow: 1;
  margin: 45px 0 0;
  justify-content: space-evenly;
  align-items: flex-start;
  flex-direction: row;
  flex-wrap: wrap;
  transition: all 0.3s ease 0s;
}
.card__body {
  display: flex;
  flex-direction: column;
  flex-grow: 1;
  max-width: max-content;
  background-color: #c441d0;
  height: 385px;
  justify-content: space-between;
  margin: 15px;
  padding: 15px;
  border-radius: 10px;
  transition: all 0.333s cubic-bezier(0.22, 0.68, 0, 1.71) 0s;
}
.card__body:hover {
  background-color: #fbda61;
  box-shadow: 0px 0px 55px #ecc948;
  transform: scale(1.05);
}
.card__image {
  max-height: 250px;
  max-width: 250px;
  margin: 0 0 15px;
  transition: all 0.3s ease 0s;
}
.card__image img {
  border-radius: 10px;
  width: 100%;
  height: 100%;
  object-fit: cover;
  transform: scale(1);
}
.card__description {
  display: flex;
  flex-direction: column;
  background-color: rgba(255, 255, 255, 0.822);
  flex-grow: 1;
  justify-content: center;
  max-height: 90px;
  overflow: hidden;
  padding: 0 0 5px;
  border-radius: 5px;
}
.card__description p {
  font-weight: 700;
  display: block;
  font-size: 28px;
  text-align: center;
  max-width: 250px;
  text-align: center;
}