.Clicker-container {
  display: flex;
  flex-wrap: wrap;
  flex-direction: row;
  justify-content: space-evenly;
  align-items: center;
  transition: all 0.25s 0s ease-in-out;
  margin: 15px;
}
.Clicker-container__Clicker-cover {
  display: flex;
  flex-direction: column;
  max-width: 640px;
  border-radius: 15px;
  transition: all 0.25s 0s ease-in-out;
  justify-content: center;
  align-items: center;
}
.Clicker-container__Clicker {
  position: relative;
  margin: auto;
  max-width: 650px;
  max-height: 650px;
  border-radius: 15px;
  bottom: 10px;
  left: 10px;
  transition: all 0.25s 0s ease-in-out;
  background-repeat: no-repeat;
  background-size: contain;
}
.Clicker-container__Text {
  display: flex;
  padding: 0 25px 0;
  min-height: 140px;
  background-color: rgba(210, 183, 216, 0.89);
  background-size: cover;
  font-weight: bold;
  color: #f8fff7;
  position: relative;
  border-radius: 15px;
}
.Clicker-container__Text p {
  margin: auto;
  text-align: center;
  font-size: 50px;
}
.Clicker-container button {
  background-color: rgba(127, 255, 212, 0);
}

@media (max-width: 767px) {
  .Clicker-container__Clicker {
    min-width: none;
    min-height: none;
    max-width: 380px;
    max-height: 380px;
  }

  .Clicker-container__Text {
    min-height: 100px;
  }
  .Clicker-container__Text p {
    font-size: 34px;
  }
}
@media (max-width: 430px) {
  .Clicker-container__Clicker {
    max-width: 325px;
    max-height: 325px;
    margin: 0 0 25%;
  }

  .Clicker-container__Text {
    min-width: none;
    max-width: 225px;
    min-height: 100px;
  }
  .Clicker-container__Text p {
    font-size: 24px;
  }
}