@charset "UTF-8";
/*Обнуление*/
@import url(https://fonts.googleapis.com/css?family=Lato:400,300,700,900);
@import url(https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap);
* {
  padding: 0;
  margin: 0;
  border: 0;
}

*, *:before, *:after {
  box-sizing: border-box;
}

:focus, :active {
  outline: none;
}

a:focus, a:active {
  outline: none;
}

nav, footer, header, aside {
  display: block;
}

html, body {
  font-family: Roboto;
  height: 100%;
  width: 100%;
  font-size: 100%;
  line-height: 1;
  font-size: 14px;
  -ms-text-size-adjust: 100%;
  -moz-text-size-adjust: 100%;
  -webkit-text-size-adjust: 100%;
}

input, button, textarea {
  font-family: inherit;
}

input::-ms-clear {
  display: none;
}

button {
  cursor: pointer;
}

button::-moz-focus-inner {
  padding: 0;
  border: 0;
}

a, a:visited {
  text-decoration: none;
}

a:hover {
  text-decoration: none;
}

ul li {
  list-style: none;
}

img {
  vertical-align: top;
}

h1, h2, h3, h4, h5, h6 {
  font-size: inherit;
  font-weight: inherit;
}

body {
  background-color: #8362df;
  background: no-repeat url("/media/images/Ahri_square.jpg");
  background: no-repeat url(https://i.imgur.com/dhJQ5kJ.jpg);
  background-size: cover;
  background-position: 50% 25%;
  background-attachment: fixed;
  flex-grow: 1;
  height: auto;
  display: flex;
  justify-content: center;
}

@media (max-width: 767px) {
  body {
    background: no-repeat url(https://i.imgur.com/VIP9AL7.jpg);
    background-size: cover;
    background-position: 50% 25%;
    background-attachment: fixed;
  }
}
.wrapper {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
}

.header {
  min-height: 50px;
  position: sticky;
  top: 0;
  background: rgba(131, 98, 223, 0.95);
  width: 100%;
  min-height: 50px;
  box-shadow: 0px 0px 55px #8362df;
}
.header__container {
  display: flex;
  min-height: 50px;
  align-items: center;
}
.header__body {
  display: flex;
  flex-direction: row;
  min-width: 100vw;
  justify-content: space-between;
}
.header__logo {
  width: 115px;
  font-size: 24px;
  text-align: end;
  z-index: 2;
  color: white;
  font-weight: 900;
}
.header__burger {
  display: hidden;
}
.header__menu {
  min-width: 86px;
  font-size: 28px;
  font-weight: 600;
}
.header__menu li {
  margin: 0 15px;
}
.header__list {
  display: flex;
}
.header__list a {
  transition: all 0.2s ease 0s;
}
.header__list a:hover {
  text-shadow: 0px 0px 5px rgba(255, 255, 255, 0.5);
}
.header__link {
  color: white;
}

.burger-container {
  display: flex;
  position: fixed;
  width: 100%;
  min-height: 50px;
  justify-content: space-between;
  align-items: center;
  top: 0;
  right: 0;
}

.main {
  display: flex;
  flex-grow: 1;
}

.aside {
  flex-grow: 1;
  flex-shrink: 0;
  min-width: 10%;
}

.aside-1 {
  flex-grow: 1;
}

.aside-2 {
  flex-grow: 1;
}

.content {
  background-color: rgba(255, 255, 255, 0.222);
  flex-grow: 4;
  z-index: -1;
  display: flex;
  flex-direction: column;
  position: relative;
  justify-content: start;
}
.content div {
  padding: 15px;
}

.burger-body {
  background-color: #7a28aa;
  flex-grow: 1;
  display: none;
}

.footer {
  background-color: rgba(75, 157, 189, 0.95);
  box-shadow: 0px 0px 55px #4b9dbd;
  min-height: 50px;
}

@media (max-width: 1025px) {
  .header__burger {
    display: block;
    position: relative;
    margin: auto 0 auto;
    width: 20px;
    height: 20px;
    right: 25px;
  }
  .header__burger span {
    position: absolute;
    background-color: #fff;
    left: 0;
    width: 100%;
    height: 2px;
    top: 9px;
    transition: all 0.3s ease 0s;
  }
  .header__burger:before, .header__burger:after {
    content: "";
    background-color: #fff;
    position: absolute;
    width: 100%;
    height: 2px;
    left: 0;
    transition: all 0.3s ease 0s;
  }
  .header__burger:before {
    top: 0;
  }
  .header__burger:after {
    bottom: 0;
  }
  .header__burger.active span {
    transform: scale(0);
  }
  .header__burger.active:before {
    transform: rotate(45deg);
    top: 45%;
  }
  .header__burger.active:after {
    transform: rotate(-45deg);
    bottom: 45%;
  }
  .header__menu {
    background-color: rgba(255, 255, 255, 0);
    font-size: 24px;
  }
  .header__menu li {
    margin: 10px 0;
    background-color: rgba(0, 0, 0, 0.15);
    width: 100%;
    text-align: center;
    padding: 10px;
    box-shadow: 0px 2px 7.5px rgba(0, 0, 0, 0.3);
  }
  .header__list {
    display: flex;
    align-items: center;
    min-width: 225px;
  }
  .header__link {
    color: #000;
  }

  .burger-container {
    background-color: #fff;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    position: fixed;
    top: 50px;
    max-width: 250px;
    height: 100vh;
    right: -100%;
    padding: 15px;
    padding-bottom: 70px;
    transition: right 0.333s ease 0s;
  }

  .burger-container.active {
    right: 0;
  }

  .list__item-0 {
    display: hidden;
  }
  .list__item-1 {
    display: flex;
    flex-direction: column;
  }
  .list__item-2 {
    display: flex;
    flex-direction: column;
    margin-bottom: -10px;
  }

  .main {
    flex-direction: column;
    flex-wrap: wrap;
  }

  .content {
    order: -1;
  }

  .aside {
    display: none;
  }

  .list__item-0 {
    display: none;
  }
}
.shade {
  position: fixed;
  width: 100vw;
  height: 100vh;
  top: 0;
  right: 0;
  transition: all 0.1s ease 0s, background-color 0.7s ease 0s, transform 0s ease 0s;
  background-color: rgba(255, 255, 255, 0);
  z-index: 0;
  display: hidden;
  transform: scale(0);
}

.shade.active {
  background-color: rgba(255, 255, 255, 0.333);
  display: block;
  transform: scale(10);
}

.none {
  display: none;
}