@charset "UTF-8";
/*Обнуление*/
@import url(https://fonts.googleapis.com/css?family=Lato:400,300,700,900);
@import url(https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap);
* {
  padding: 0;
  margin: 0;
  border: 0;
}

*, *:before, *:after {
  box-sizing: border-box;
}

:focus, :active {
  outline: none;
}

a:focus, a:active {
  outline: none;
}

nav, footer, header, aside {
  display: block;
}

html, body {
  font-family: Roboto;
  height: 100%;
  width: 100%;
  font-size: 100%;
  line-height: 1;
  font-size: 14px;
  -ms-text-size-adjust: 100%;
  -moz-text-size-adjust: 100%;
  -webkit-text-size-adjust: 100%;
}

input, button, textarea {
  font-family: inherit;
}

input::-ms-clear {
  display: none;
}

button {
  cursor: pointer;
}

button::-moz-focus-inner {
  padding: 0;
  border: 0;
}

a, a:visited {
  text-decoration: none;
}

a:hover {
  text-decoration: none;
}

ul li {
  list-style: none;
}

img {
  vertical-align: top;
}

h1, h2, h3, h4, h5, h6 {
  font-size: inherit;
  font-weight: inherit;
}

body {
  background-color: #4158D0;
  background-image: linear-gradient(43deg, #4158D0 0%, #C850C0 46%, #FFCC70 100%);
  background-size: cover;
  background-position: 50% 25%;
  background-attachment: fixed;
  flex-grow: 1;
  height: auto;
  display: flex;
  justify-content: center;
}

@media (max-width: 767px) {
  body {
    background-size: cover;
    background-position: 50% 25%;
    background-attachment: fixed;
  }
}
.wrapper {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
}

.header {
  min-height: 50px;
  position: sticky;
  top: 0;
  z-index: 5;
  background-color: #4158D0;
  background-image: linear-gradient(43deg, #4158D0 0%, #C850C0 46%, #FFCC70 150%);
  width: 100%;
  min-height: 50px;
  box-shadow: 55px -15px 55px #4158D0;
}
.header__container {
  display: flex;
  min-height: 50px;
  align-items: center;
}
.header__body {
  display: flex;
  flex-direction: row;
  min-width: 100vw;
  justify-content: space-between;
}
.header__logo {
  width: 115px;
  font-size: 24px;
  text-align: end;
  z-index: 2;
  color: white;
  font-weight: 900;
}
.header__burger {
  display: hidden;
}
.header__menu {
  min-width: 86px;
  font-size: 28px;
  font-weight: 600;
}
.header__list {
  display: flex;
}
.header__list li {
  border-radius: 3px;
  margin: 0 10px;
  transition: all 2s ease 0s;
}
.header__list li a {
  display: block;
}
.header__list li a:hover {
  -webkit-text-decoration: underline 3px;
          text-decoration: underline 3px;
}
.header__list a {
  transition: all 0.2s ease 0s;
}
.header__list a:hover {
  text-shadow: 0px 0px 5px rgba(255, 255, 255, 0.5);
}
.header__link {
  color: white;
}

.burger-container {
  display: flex;
  position: fixed;
  z-index: 1;
  width: 100%;
  min-height: 50px;
  justify-content: space-between;
  align-items: center;
  top: 0;
  right: 0;
}

.main {
  display: flex;
  flex-grow: 1;
}

.aside {
  flex: 0 0 250px;
}

.content {
  background-color: rgba(255, 255, 255, 0.222);
  flex-grow: 4;
  z-index: 1;
  display: flex;
  flex-direction: column;
  position: relative;
  justify-content: start;
}
.content-body {
  padding: 7px 10px;
}
.content-body p {
  text-align: justify;
}

.card {
  display: flex;
  align-items: center;
  flex-direction: column;
}
.card__container {
  display: flex;
  flex-grow: 1;
  margin: 45px 0 0;
  justify-content: space-evenly;
  align-items: flex-start;
  flex-direction: row;
  flex-wrap: wrap;
  transition: all 0.3s ease 0s;
}
.card__body {
  display: flex;
  flex-direction: column;
  flex-grow: 1;
  max-width: max-content;
  background-color: #c441d0;
  height: 385px;
  justify-content: space-between;
  margin: 15px;
  padding: 15px;
  border-radius: 10px;
  transition: all 0.333s cubic-bezier(0.175, 0.885, 0.32, 1.275) 0s;
}
.card__body:hover {
  background-color: #fbda61;
  box-shadow: 0px 0px 55px #ecc948;
  transform: scale(1.05);
}
.card__image {
  max-height: 250px;
  max-width: 250px;
  margin: 0 0 15px;
  transition: all 0.3s ease 0s;
}
.card__image img {
  border-radius: 10px;
  width: 100%;
  height: 100%;
  object-fit: cover;
  transform: scale(1);
}
.card__description {
  display: flex;
  flex-direction: column;
  background-color: rgba(255, 255, 255, 0.822);
  flex-grow: 1;
  justify-content: center;
  max-height: 90px;
  overflow: hidden;
  padding: 0 0 5px;
  border-radius: 5px;
}
.card__description p {
  font-weight: 700;
  display: block;
  font-size: 28px;
  text-align: center;
  max-width: 250px;
  text-align: center;
}

.burger-body {
  background-color: #7a28aa;
  flex-grow: 1;
  display: none;
}

.footer {
  background-color: #21D4FD;
  background-image: linear-gradient(-195deg, #4158D0 0%, #C850C0 100%);
  box-shadow: 0px 55px 155px #21D4FD;
  min-height: 50px;
}

@media (max-width: 1025px) {
  body.lock {
    overflow: hidden;
  }

  .header__burger {
    display: block;
    position: relative;
    margin: auto 0 auto;
    width: 20px;
    height: 20px;
    right: 25px;
    z-index: 1;
  }
  .header__burger span {
    position: absolute;
    background-color: #fff;
    left: 0;
    width: 100%;
    height: 2px;
    top: 9px;
    transition: all 0.3s ease 0s;
  }
  .header__burger:before, .header__burger:after {
    content: "";
    background-color: #fff;
    position: absolute;
    width: 100%;
    height: 2px;
    left: 0;
    transition: all 0.3s ease 0s;
  }
  .header__burger:before {
    top: 0;
  }
  .header__burger:after {
    bottom: 0;
  }
  .header__burger.active span {
    transform: scale(0);
  }
  .header__burger.active:before {
    transform: rotate(45deg);
    top: 45%;
  }
  .header__burger.active:after {
    transform: rotate(-45deg);
    bottom: 45%;
  }
  .header__menu {
    background-color: rgba(255, 255, 255, 0);
    font-size: 24px;
  }
  .header__menu li {
    margin: 10px 0;
    background-color: rgba(0, 0, 0, 0.15);
    width: 100%;
    text-align: center;
    box-shadow: 0px 2px 7.5px rgba(0, 0, 0, 0.3);
  }
  .header__menu li a {
    display: block;
    padding: 10px;
  }
  .header__menu .menu-filler {
    background-color: rgba(0, 0, 0, 0);
    box-shadow: 0px 2px 7.5px rgba(0, 0, 0, 0);
  }
  .header__list {
    display: flex;
    align-items: center;
    min-width: 225px;
  }
  .header__link {
    color: #000;
  }

  .burger-container {
    background-color: #fff;
    position: fixed;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    overflow: auto;
    overflow-x: hidden;
    top: 50px;
    right: -100%;
    max-width: 280px;
    height: 100vh;
    padding: 15px;
    padding-bottom: 70px;
    transition: right 0.333s ease 0s;
  }

  .burger-container.active {
    right: 0;
  }

  .list__item-0 {
    display: hidden;
  }
  .list__item-1 {
    display: flex;
    flex-direction: column;
  }
  .list__item-2 {
    display: flex;
    flex-direction: column;
    margin-bottom: -10px;
  }

  .main {
    flex-direction: column;
    flex-wrap: wrap;
  }
  .main.lock {
    overflow: hidden;
  }

  .content {
    order: -1;
  }

  .aside {
    display: none;
  }

  .list__item-0 {
    display: none;
  }

  .shade {
    position: fixed;
    width: 100vw;
    height: 100vh;
    top: 0%;
    right: 0%;
    transition: all 0.2s ease 0s, background-color 0.7s ease 0s, transform 0s ease 0s;
    background-color: rgba(255, 255, 255, 0);
    display: hidden;
    transform: scale(0);
  }

  .shade.active {
    background-color: rgba(255, 255, 255, 0.333);
    display: block;
    z-index: 4;
    transform: scale(10);
  }
}
.unselectable {
  -webkit-touch-callout: none;
  /* iOS Safari */
  -webkit-user-select: none;
  /* Chrome/Safari/Opera */
  /* Konqueror */
  /* Firefox */
  /* Internet Explorer/Edge */
  user-select: none;
  /* Non-prefixed version, currently
  not supported by any browser */
}

.none {
  display: none;
}