@charset "UTF-8";
@import url("https://fonts.googleapis.com/css2?family=Archivo+Black&display=swap");
/*Обнуление*/
@import url(https://fonts.googleapis.com/css?family=Lato:400,300,700,900);
@import url(https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap);
* {
  padding: 0;
  margin: 0;
  border: 0;
}

*, *:before, *:after {
  box-sizing: border-box;
}

:focus, :active {
  outline: none;
}

a:focus, a:active {
  outline: none;
}

nav, footer, header, aside {
  display: block;
}

html, body {
  font-family: Roboto;
  height: 100%;
  width: 100%;
  font-size: 100%;
  line-height: 1;
  font-size: 14px;
  -ms-text-size-adjust: 100%;
  -moz-text-size-adjust: 100%;
  -webkit-text-size-adjust: 100%;
}

input, button, textarea {
  font-family: inherit;
}

input::-ms-clear {
  display: none;
}

button {
  cursor: pointer;
}

button::-moz-focus-inner {
  padding: 0;
  border: 0;
}

a, a:visited {
  text-decoration: none;
}

a:hover {
  text-decoration: none;
}

ul li {
  list-style: none;
}

img {
  vertical-align: top;
}

h1, h2, h3, h4, h5, h6 {
  font-size: inherit;
  font-weight: inherit;
}

.order {
  order: 0;
}

.order1 {
  order: 1;
}

.order2 {
  order: 2;
}

.order3 {
  order: 3;
}

.order4 {
  order: 4;
}

.order5 {
  order: 5;
}

.order6 {
  order: 6;
}

.order7 {
  order: 7;
}

.order8 {
  order: 8;
}

.order90 {
  order: 90;
}

body {
  background-image: url(https://cdn.discordapp.com/attachments/893911666687889418/893920435354370098/league-of-legends-lol-devyatikhvostaya-lisa-ahri-spirit-blossom-splsah-art-8k-oboi-3840x2400_9.jpg);
}

.Background_PinkAhri {
  background-image: url(https://cdn.discordapp.com/attachments/893911666687889418/893920435354370098/league-of-legends-lol-devyatikhvostaya-lisa-ahri-spirit-blossom-splsah-art-8k-oboi-3840x2400_9.jpg);
}

.Background_MagicAhri {
  background-image: url(https://cdn.discordapp.com/attachments/893911666687889418/905782491854553128/2292668.jpg);
}

.Background_tavernWoW {
  background-image: url(https://cdn.discordapp.com/attachments/893911666687889418/914198729819553792/unknown.png);
}

.Background_Underground {
  background-image: url(https://cdn.discordapp.com/attachments/893911666687889418/927839961456181288/brick_wall.jpg);
}

.Background_Zaun {
  background-size: contain;
  background-attachment: fixed;
  background: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)), url("https://cdn.discordapp.com/attachments/893911666687889418/919268233436094496/zaun_1200x630-art-scale-2_00x-gigapixel.jpg");
}

.Background_BlockChain {
  background: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)), url("https://cdn.discordapp.com/attachments/893911666687889418/919368896572694559/AjarJaggedClumber.mp4");
}

.video_background {
  margin: auto;
  position: fixed;
  max-height: 120%;
  min-width: 100%;
  z-index: -999999;
  overflow: hidden;
}
@media (max-width: 1920px) {
  .video_background {
    max-height: 130%;
  }
}
@media (max-width: 767px) {
  .video_background {
    right: -100%;
  }
}
@media (max-width: 430px) {
  .video_background {
    right: -120%;
  }
}

.noselect {
  -webkit-user-select: none;
  -o-user-select: none;
  user-select: none;
}

body {
  background-size: cover;
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-position: center;
  height: auto;
}

p {
  font-size: 18px;
  text-align: center;
}

h1 {
  font-size: 84px;
  text-align: center;
  font-family: "Archivo Black";
}

h2 {
  text-align: center;
  font-size: 40px;
  margin-bottom: 15px;
}

.wrapper {
  flex-direction: column;
  margin: 0% auto;
  max-width: 1200px;
  min-width: 320px;
}

header {
  min-width: 320px;
  min-height: 120px;
}

.headingBox {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  max-height: 300px;
  background-color: rgba(255, 255, 255, 0.822);
  border-radius: 8px;
  margin: 0 0 6px;
}

.nav {
  display: inline-flex;
  width: 100%;
}
.nav__row {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
  flex-direction: row;
  width: 150%;
}
.nav__element {
  flex-wrap: wrap;
  min-height: 40px;
  display: flex;
  align-items: center;
}
.nav__element_1 {
  flex-direction: row;
}
.nav__element_2 {
  flex-direction: row-reverse;
}
.nav__element_content {
  font-size: 24px;
}
.nav__element button {
  padding: 6px;
  border-radius: 8px;
  background-color: rgba(0, 0, 0, 0.822);
  margin: 3px;
}
.nav a, .nav p {
  color: white;
}

.mid {
  flex-direction: row;
  flex: 1;
}

.Text-note-container {
  display: flex;
  flex-direction: column;
  border-radius: 8px;
}
.Text-note-container__Header {
  border-radius: 8px 8px 0px 0px;
  background-color: #6fcac6;
}
.Text-note-container__Body-content {
  border-radius: 0px 0px 8px 8px;
  background-color: beige;
}
.Text-note-container__Body-content p {
  text-align: justify;
  font-size: 24px;
  padding: 1%;
  padding-bottom: 0;
}
@media (max-width: 767px) {
  .Text-note-container .Text-note-container {
    margin: 0 2% 0;
  }
  .Text-note-container .Text-note-container__Body-content p {
    text-align: justify;
    font-size: 20px;
    padding: 1%;
    padding-bottom: 0;
  }
}
@media (max-width: 430px) {
  .Text-note-container .Text-note-container__Body-content p {
    text-align: justify;
    font-size: 18px;
    padding: 1%;
    padding-bottom: 0;
  }
}

.BIG_txt {
  font-size: 100px;
}

.flex-element-gallery {
  display: flex;
  flex-wrap: wrap;
  flex-direction: row;
  justify-content: space-evenly;
  align-items: center;
}
.flex-element-gallery__item {
  order: 1;
  margin: 7.5px;
  background-color: rgba(246, 85, 192, 0.719);
  border-radius: 8px;
}
.flex-element-gallery__item p {
  display: block;
  min-height: 32px;
  display: block;
  font-size: 200%;
  text-align: center;
}
.flex-element-gallery__button {
  flex-direction: column;
  width: 100%;
}
.flex-element-gallery__button_gallery {
  width: 100%;
}
.flex-element-gallery__button_gallery video, .flex-element-gallery__button_gallery img {
  width: 100%;
  position: relative;
  top: -5px;
  right: -5px;
  justify-content: center;
  border-radius: 8px;
  max-height: 285px;
  transition: all 0.25s 0s ease-in-out;
}
.flex-element-gallery__button_gallery video:hover, .flex-element-gallery__button_gallery img:hover {
  top: 0;
  right: 0;
}
.flex-element-gallery__button_ungallery img, .flex-element-gallery__button_ungallery video {
  position: relative;
  top: -5px;
  right: -5px;
  justify-content: center;
  flex: 1 1 auto;
  border-radius: 8px;
  max-height: 320px;
  transition: all 0.25s 0s ease-in-out;
}
.flex-element-gallery__button_ungallery img:hover, .flex-element-gallery__button_ungallery video:hover {
  top: 0;
  right: 0;
}
@media (max-width: 992px) {
  .flex-element-gallery .flex-element-gallery__button_ungallery img {
    max-width: 320px;
  }
}
@media (max-width: 430px) {
  .flex-element-gallery .flex-element-gallery__button_ungallery img {
    max-height: none;
  }
}

.noner {
  display: none;
}

.nonerV {
  visibility: hidden;
}

@media (max-width: 1200px) {
  .wrapper {
    max-width: 970px;
  }
}
@media (max-width: 992px) {
  .wrapper {
    max-width: 750px;
  }
}
@media (max-width: 767px) {
  .wrapper {
    max-height: none;
    max-width: none;
  }

  h1 {
    font-size: 64px;
  }

  .nav__element_content {
    font-size: 17px;
  }
}
@media (max-width: 430px) {
  .wrapper {
    max-height: none;
    max-width: none;
  }

  h1 {
    font-size: 38px;
  }

  .nav__element_content {
    font-size: 12px;
  }
}
#archive {
  font-size: 0;
}

footer {
  flex: 1 0 auto;
  min-width: 320px;
  max-height: 120px;
}

.Clicker-container {
  display: flex;
  flex-wrap: wrap;
  flex-direction: row;
  justify-content: space-evenly;
  align-items: center;
  transition: all 0.25s 0s ease-in-out;
  margin: 15px;
}
.Clicker-container__Clicker-cover {
  display: flex;
  flex-direction: column;
  max-width: 640px;
  border-radius: 15px;
  transition: all 0.25s 0s ease-in-out;
  justify-content: center;
  align-items: center;
}
.Clicker-container__Clicker {
  position: relative;
  margin: auto;
  max-width: 650px;
  max-height: 650px;
  border-radius: 15px;
  bottom: 10px;
  left: 10px;
  transition: all 0.25s 0s ease-in-out;
  background-repeat: no-repeat;
  background-size: contain;
}
.Clicker-container__Text {
  display: flex;
  padding: 0 25px 0;
  min-height: 140px;
  background-color: rgba(210, 183, 216, 0.89);
  background-size: cover;
  font-weight: bold;
  color: #f8fff7;
  position: relative;
  border-radius: 15px;
}
.Clicker-container__Text p {
  margin: auto;
  text-align: center;
  font-size: 50px;
}
.Clicker-container button {
  background-color: rgba(127, 255, 212, 0);
}

@media (max-width: 767px) {
  .Clicker-container__Clicker {
    min-width: none;
    min-height: none;
    max-width: 380px;
    max-height: 380px;
  }

  .Clicker-container__Text {
    min-height: 100px;
  }
  .Clicker-container__Text p {
    font-size: 34px;
  }
}
@media (max-width: 430px) {
  .Clicker-container__Clicker {
    max-width: 325px;
    max-height: 325px;
    margin: 0 0 25%;
  }

  .Clicker-container__Text {
    min-width: none;
    max-width: 225px;
    min-height: 100px;
  }
  .Clicker-container__Text p {
    font-size: 24px;
  }
}
.povistka-container {
  z-index: 2;
  height: 100%;
  width: 100%;
  background-color: rgba(49, 36, 36, 0.541);
  margin: auto;
  position: absolute;
  overflow: hidden;
  display: flex;
  flex-direction: column;
}
.povistka-container__item {
  margin: auto;
  max-height: 100%;
  max-width: 100%;
  background-color: #f1f1f1;
  padding: 6px 16px 8px;
}
.povistka-container__povistka {
  background-image: url("https://cdn.discordapp.com/attachments/893911666687889418/914194697021440000/unknown.png");
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-position: center;
  background-size: auto;
}
.povistka-container__povistka-img {
  max-height: 100%;
  max-width: 100%;
}
.povistka-container__button {
  display: flex;
  justify-content: space-between;
}
.povistka-container__button-cfg {
  font-size: 25px;
  padding: 8px;
  margin: 8px 0 8px;
  width: 25%;
  color: white;
}
.povistka-container__button_1 {
  background-color: #45d671;
}
.povistka-container__button_2 {
  background-color: #c4244c;
}

.vid {
  right: 0;
  bottom: 0;
  position: fixed;
  min-width: 100%;
  min-height: 100%;
  visibility: hidden;
}

.block_chain h1 {
  color: white;
}

.HeadingBlockChain {
  display: block;
  margin-left: auto;
  margin-right: auto;
  width: 50%;
  height: 100%;
  position: relative;
  top: 6rem;
}
.HeadingBlockChain h1 {
  display: table-cell;
  vertical-align: middle;
}
@media (max-width: 767px) {
  .HeadingBlockChain h1 {
    font-size: 52px;
  }
}
@media (max-width: 430px) {
  .HeadingBlockChain h1 {
    font-size: 38px;
  }
}