body{
  background-image: url(https://cdn.discordapp.com/attachments/893911666687889418/893920435354370098/league-of-legends-lol-devyatikhvostaya-lisa-ahri-spirit-blossom-splsah-art-8k-oboi-3840x2400_9.jpg);
}
.Background_PinkAhri{
  background-image: url(https://cdn.discordapp.com/attachments/893911666687889418/893920435354370098/league-of-legends-lol-devyatikhvostaya-lisa-ahri-spirit-blossom-splsah-art-8k-oboi-3840x2400_9.jpg);
}

.Background_MagicAhri{
  background-image: url(https://cdn.discordapp.com/attachments/893911666687889418/905782491854553128/2292668.jpg);
}

.Background_tavernWoW{
  background-image: url(https://cdn.discordapp.com/attachments/893911666687889418/914198729819553792/unknown.png);
}

.Background_Underground{
  background-image: url(https://cdn.discordapp.com/attachments/893911666687889418/927839961456181288/brick_wall.jpg);
}

.Background_Zaun{
  background-size: contain;
  background-attachment: fixed;
  // background-image: url('https://cdn.discordapp.com/attachments/893911666687889418/919268233436094496/zaun_1200x630-art-scale-2_00x-gigapixel.jpg');
  background: linear-gradient( rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)), url('https://cdn.discordapp.com/attachments/893911666687889418/919268233436094496/zaun_1200x630-art-scale-2_00x-gigapixel.jpg');
}

.Background_BlockChain{
  background: linear-gradient( rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)), url('https://cdn.discordapp.com/attachments/893911666687889418/919368896572694559/AjarJaggedClumber.mp4');
}
