@import "_zero";

/* Zero style ends*/

.wrapper {
	display: grid;
	grid-template-areas:
	  'header header'
	  'menu main'
	  'footer footer';
	gap: 10px;
	background-color: #2196F3;
	padding: 10px;
	margin: 0;
	
	// background-color: #eee;
	grid-template-columns: 200px 1fr;


	& > div {
		background-color: rgba(255, 255, 255, 0.8);
		text-align: center;
		padding: 20px 0;
		font-size: 30px;
	  }
}
.header {
	grid-area: header;
}
.menu {
	grid-area: menu;
}
.main {
	grid-area: main;

	
}
.footer {
	grid-area: footer;

	align-self: end;
}
