@import "_zero";
@import "cards";
@import "r34";


html{
    background-color: #4158D0;
    background-image: linear-gradient(43deg, #4158D0 0%, #C850C0 46%, #FFCC70 100%);
    background-size: cover;
	background-position: 50% 25%;
	background-attachment: fixed;
	
}
@media (max-width: 767px) {
	html{
		// background: no-repeat url(https://i.imgur.com/VIP9AL7.jpg);
        // background: no-repeat url('https://donizer.github.io/donizer-no-site/media/images/Ahri_portrait.jpg');
		// background:rgb(28, 187, 192); 
		background-size: cover;
		background-position: 50% 25%;
		background-attachment: fixed;
	}
}

.backgroundAbs{
    position: fixed;

    bottom: 0;
    left: 0;
    
    width: 100%;
    height: 100%;

    z-index: -1;

    background-color: #4158D0;
    background-image: linear-gradient(43deg, #4158D0 0%, #C850C0 46%, #FFCC70 100%);
    background-size: cover;
	background-position: 50% 25%;
	background-attachment: fixed;
}

body{
    
    

	// background-color: rgb(131, 98, 223);
	// background: no-repeat url('https://donizer.github.io/donizer-no-site/media/images/Ahri_square.jpg');
	// background: no-repeat url(https://i.imgur.com/dhJQ5kJ.jpg);
	
    

	display: flex;
	justify-content:center;
    flex-grow: 1;
	height: auto;
}



.wrapper {
    display: flex;
    flex-direction: column;
    min-height: 100vh;

    

    // transition: all 0.3s ease;
}
.header {
    
    min-height: 50px;
    position: sticky;
    top: 0;

    z-index: 5;


    background-color: #4158D0;
    background-image: linear-gradient(43deg, #4158D0 0%, #C850C0 46%, #FFCC70 150%);
    
    

    // background: rgba(131, 98, 223, 0.95); //debug

    
        width: 100%;
        min-height: 50px;

        box-shadow: 55px -15px 55px #4158D0;
    
        

		&__container {
            display: flex;
            min-height: 50px;
            align-items: center;
            
            
		}

		&__body {
            display: flex;
            flex-direction: row;
            min-width: 100vw;
            


            justify-content: space-between;



		}

		&__logo {
            width: 115px;
            font-size: 24px;
            text-align: end;

            z-index: 2;

            // background-color: rgb(115, 23, 138);
            color: rgb(255, 255, 255);
            font-weight: 900;
		}

		&__burger {
            display: hidden;


		}

		&__menu {
            
            
            min-width: 86px;

            

            font-size: 28px;
            font-weight: 600;
		}

		&__list {
            display: flex;
            
            li{
                border-radius: 3px;
                margin: 0 10px;
                transition: all 2s ease 0s;

                a{
                    display: block;
                    
                    
                }

                a:hover{
                   text-decoration: underline 3px;
                    

    
                }
            }
            


            
		}
        &__list a{
            transition: all 0.2s ease 0s;
            
        }
        &__list a:hover{
            text-shadow: 0px 0px 5px rgba(255, 255, 255, 0.5);
        }
		&__link {
            

            
            color: rgb(255, 255, 255);
		}

    // &:before{
    //     content: '';
    //     position: absolute;
        
    // }
}
.burger-container{
    display: flex;
    position: fixed;

    z-index: 1;

    width: 100%;
    min-height: 50px;
    justify-content: space-between;
    align-items: center;

    top: 0;
    right: 0;
    
}

.main {
    display: flex;
    flex-grow: 1;
    
    
}

.aside {
    flex: 0 0 250px;
}

.content{
    background-color: rgba(255, 255, 255, 0.222);
    flex-grow: 4;

    z-index: 1;

    display: flex;
    flex-direction: column;



    

    position: relative;
    justify-content: start;

    &-body{
     
        padding: 7px 10px;

        // overflow: hidden;

        p{
            text-align: justify;
        }
    }

}






.burger-body{
    background-color: rgb(122, 40, 170);
    flex-grow: 1;
    display: none;
}
.footer {

    background-color: #21D4FD;
    background-image: linear-gradient(-195deg, #4158D0 0%, #C850C0 100%);



    // background-color: rgba(75, 157, 189, 0.95);
    box-shadow: 0px 55px 155px #21D4FD;

    min-height: 50px;
}


@media (max-width: 1025px){

    body.lock{
        overflow: hidden;
    }

    .header{
        // position: relative;
        &__burger{
			display: block;
			position: relative;
			margin: auto 0 auto;
			width: 20px;
			height: 20px;
			right: 25px;

            z-index: 1;
			& span{
				position: absolute;
				background-color: #fff;
				left: 0;
				width: 100%;
				height: 2px;
				top: 9px;
				transition: all 0.3s ease 0s;
                

			}
			&:before,
			&:after{
				content: '';
				background-color: #fff;
				position: absolute;
				width: 100%;
				height: 2px;
				left: 0;
				transition: all 0.3s ease 0s;
			}
			&:before{
				top: 0;
                

			}
			&:after{
				bottom: 0;
			}

        }
        &__burger.active span{
            transform: scale(0);
        }
        &__burger.active:before{
            transform: rotate(45deg);
            top: 45%;
        }
        &__burger.active:after{
            transform: rotate(-45deg);
            bottom: 45%;
        }
        &__menu {

            
            background-color: rgba(255, 255, 255, 0);

            font-size: 24px;
            
            
            

            // height: 100vh;
            // position: absolute;
            // left: 50px;

            & li{
                margin: 10px 0;
                background-color: rgba(0, 0, 0, 0.15); //pointer

                width: 100%;
                text-align: center;

                
                // padding: 10px;

                box-shadow: 0px 2px 7.5px rgba(0, 0, 0, 0.3);
                
                a{
                    display: block;
                    // background-color: #fff;
                    // margin: 10px;
                    padding: 10px;
                }
            }
            .menu-filler{
                background-color: rgba(0, 0, 0, 0); //pointer
                box-shadow: 0px 2px 7.5px rgba(0, 0, 0, 0);
            }
		}
        &__list{
            // position: relative;
            display: flex;
            align-items: center;


            // background-color: rgb(60, 190, 71);

            min-width: 225px;
            // left: -72px;
            
        }
        &__link{
            color: #000;
        }
    }
    .burger-container{
        background-color: #fff;
        position: fixed;
        display: flex;
        flex-direction: column;
        justify-content: space-between;

        overflow: auto;
        overflow-x: hidden;




        top: 50px;
        right: -100%;
        

        max-width: 280px;
        height: 100vh;
        // top: 50px;


        padding: 15px;

        padding-bottom: 70px;

        transition: right 0.333s ease 0s;
 
    }
    .burger-container.active{
        
        right: 0;
    }
    .list{
        
        &__item-0{
            display: hidden;
        }
        &__item-1{
            // position: relative;
            // background-color: rgb(60, 190, 71);
            // top: 65px;
            display: flex;
            flex-direction: column;




        }
        &__item-2{
            // position: fixed;
            // background-color: rgb(60, 190, 71);
            // bottom: 115px;
            // right: 0px;

            
            display: flex;
            flex-direction: column;

            margin-bottom: -10px;

            
        }
    }

    .main{

        flex-direction: column;
        flex-wrap: wrap;
        

        
        &.lock{
            overflow: hidden;
        }
    }
    

    .content{
        order: -1;
    }

    .aside{
        display: none;
    }

    .list__item-0{
        display: none;
    }


    .shade{
        position: fixed;
    
        width: 100vw;
        height: 100vh;
    
        top: 0%;
        right: 0%;
        transition: all 0.2s ease 0s, background-color 0.7s ease 0s, transform 0s ease 0s;
        background-color: rgba(255, 255, 255, 0);
    
        display: hidden;
        transform: scale(0);
        
    }
    .shade.active{
        background-color: rgba(255, 255, 255, 0.333);
        display: block;
        
    
        z-index: 4;
        transform: scale(10);
    }


}


.unselectable {
	-webkit-touch-callout: none; /* iOS Safari */
	-webkit-user-select: none;   /* Chrome/Safari/Opera */
	-khtml-user-select: none;    /* Konqueror */
	-moz-user-select: none;      /* Firefox */
	-ms-user-select: none;       /* Internet Explorer/Edge */
	user-select: none;           /* Non-prefixed version, currently
									not supported by any browser */
}












.none{
    display: none;
}
