@import "zero.scss"; // zero style

body{
  background-image: url(https://cdn.discordapp.com/attachments/893911666687889418/893920435354370098/league-of-legends-lol-devyatikhvostaya-lisa-ahri-spirit-blossom-splsah-art-8k-oboi-3840x2400_9.jpg);
  // background-image: url(https://wallpaperaccess.com/download/league-of-legends-ahri-2292668);
  background-size: cover; 
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-position: top;
  height: 100%;
  
}
.wrapper{
  flex-direction: column;
  margin: 0% 15% 0%;
  min-width: 320px; 
}
header{
  flex-direction: row;
  // background-color: rgba(235, 132, 245, 0.719);
  min-width: 320px;
  min-height: 120px;
  h1{
    font-size: 52px;
    text-align: center;
    margin: 4%;
  }
}
.mid{
  flex-direction: row;
  flex: 1;
  // background-color: rgba(255, 176, 248, 0.719);
    
}
.flex-upper-gallery{
  display: flex;
  flex-wrap: wrap;
  flex-direction: row;
  justify-content:space-evenly;
  align-items: baseline;
 
  &__item{
    margin: 7.5px;
    background-color: rgba(188, 221, 217, 0.835);
    border-radius: 8px;
    p{
      display: block;
      min-height: 32px;
      display: block;
      font-size: 200%;
      text-align: center;
    }
  }
  &__button{
    flex-direction: column;
    &_gallery{
      width: 100%;
      video{
        position: relative;
        top: -5px;
        right: -5px;

        justify-content: center;
        border-radius: 8px;
        max-height: 360px;
        max-width: 640px;
        transition: all 0.25s 0s ease-in-out;
      }
      video:focus{
        max-height: 720px;
        max-width: 1280px;
      }
      video:hover{
        top: 0;
        right: 0;
      }
      img{
        position: relative;
        top: -5px;
        right: -5px;

        justify-content: center;
        flex: 1 1 auto;
        border-radius: 8px;
        max-height: 450px;
        transition: all 0.25s 0s ease-in-out;
      }
      img:focus{
        max-height: 720px;
        max-width: 1280px;
      }
      img:hover{
        top: 0;
        right: 0;
      }
    }
    &_ungallery{
      video{
        justify-content: center;
        flex: 1 1 auto;
        border-radius: 8px;
        max-height: 320px;
        transition: all 0.25s 0s ease-in-out;
      }
      img{
        position: relative;
        top: -5px;
        right: -5px;

        justify-content: center;
        flex: 1 1 auto;
        border-radius: 8px;
        height: 320px;
        transition: all 0.25s 0s ease-in-out;
      }
      img:hover{
        top: 0;
        right: 0;
      }
    }           
  }
}
footer{
  // background-color: rgba(0, 255, 255, 0.609);
  // border: solid red;
  flex: 1 0 auto;
  // background-color: rgba(87, 70, 240, 0.719);
  min-width: 320px;
  height: 120px;
}
p{
  font-size: 18px;
  text-align: center;
}
@import "gallery_flex_order.scss"; // gallery orders
body{
    background-color: rgb(71, 120, 160);
    background-image: none;
}
table{
    border: solid;
    width: 700px;
    border-radius: 8px;
}
td{
    border: solid;
    text-align: center;
}
h2{
    font-size: 25px;
    margin: 20px;
    text-align: center;
}